<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width">

		<title>About | B-Side URL Shortener</title>
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css.css">
	</head>

	<body>
		<h1 class="title">B-Side ABOUT</h1>
		
		<!-- Static navbar -->
		<div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
			<div class="container">
			  <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			    </button>
			    <a class="navbar-brand" href="#">B-Side Shortener</a>
			  </div>
			  <div class="navbar-right navbar-collapse collapse">
			    <!-- Left nav -->
			    <ul class="nav navbar-nav">
			      <li><a href="/">Home</a></li>
			      <li><a href="/about/">About</a></li>
			      <li><a href="http:/www.berkeleybside.com/">B-Side</a></li>
			    </ul>
			  </div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript">
			
			$(document).ready(function(){
				var url = "{{ return_url }}"
				if( url != ""){
					$("#url").val(url);
				}
			});

		</script>

	</body>

</html>