<!DOCTYPE HTML>
<html>
	<head>
		<title>B-Side URL Shortener</title>
		<link rel="stylesheet" href="http://www.lukesheard.com/assets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/css.css">
	</head>

	<body>
		<div class="logo"></div>

		<h1 class="title">B-Side</h1>

		<form class="entry" action="/" method="POST">
		  	<input id="url" name="url" class="form-control" placeholder="Enter Url">
		  	<!-- <button class="btn btn-primary">hi</button> -->
		</form>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
		<script type="text/javascript">
			
			$(document).ready(function(){
				var url = "{{ return_url }}"
				if( url != ""){
					$("#url").val(url);
				}
			});

		</script>

	</body>

</html>